@media (min-width: 900px) and (max-width: 991px) 
    .sidepanel
        display: none
    .about
        &__wrapper
            grid-template-columns: minmax(350px, auto) minmax(450px, auto)
            gap: 15px 65px
        &__skills
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 220px)
            gap: 10px
        &__subtitle
            font-size: 30px
        &__text
            font-size: 11px
            line-height: 22px
        &__skills-item
            grid-template-columns: 35px 170px
            column-gap: 10px
        &__skills-text
            font-size: 10px
    .usings
        &__wrapper
            grid-template-columns: repeat(3, 270px)
            grid-template-rows: 1fr
            justify-content: center

        &__percent
            grid-template-columns: 300px 300px
            grid-template-rows: 1fr
            padding: 0 10px
            justify-content: center    
    .portfolio
        &__wrapper
            grid-template-columns: 280px 280px
            grid-template-rows: 1fr
            justify-content: center
            gap: 40px
            .vertical, .horizonal
                grid-column: 2/auto
                grid-row: auto/auto
        &__item
            filter: none
    .price
        &__wrapper
            grid-template-columns: minmax(300px, auto) minmax(300px, auto)
            grid-template-rows: 1fr
            justify-content: space-around
            gap: 40px
            margin-left: 0
    .contacts
        &__photo
            display: none
        &__wrapper
            grid-template-columns: 706px
            justify-content: center